body{
    background-image: url("http://www.nicholasoliverio.com/images/crossword.png");
    line-height: 1.75;
}
header{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
div.portfolio_contents{
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 5px;
    padding: 25px 20px 10px 20px;
}
div.portfolio_contents >ul{
    list-style-type: none;
}
div.portfolio_project{
    margin: 25px 20px 10px 20px;
}
div.code{
    background-color: grey;
    border-color: black;
    border-style: solid;
}
div.code >p{
    font-size: 11;
    font-family: Consolas,Monaco, Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    color: white;
    word-wrap: break-word;
}
footer{
    position: relative;
    bottom: 0;
    background-color: white;
    margin-bottom: -1em;
}
footer > p{
    font-size: 10pt;
    color: black;
    text-align: center;
}
@media screen and (max-width: 600px) {
    div.mobile_warning {
       display: block;
       background-color: #B33A3A;
       color: yellow;
       border: solid;
       border-color: orange;
       border-radius: 5px;
    }
}
@media screen and (min-width: 601px) {
    div.mobile_warning{
        display:none;
    }
}
