{% extends 'base.html' %}
{% block title %}My Blog{% endblock %}
{% block body %}
<h1>Welcome to my blog</h1>
<div class = 'mobile_warning'>
<div class = 'container'>
<h3>Hey there!</h3><p> I noticed that the screen that you are reading this on is pretty small.
I just want to give you a heads up, when the blog scaled down to fit your screen some of the 
example code snipits I provide might have been split up and put on different lines. If
some code seems really wonky then you might want to view it on a larger screen before you trust
where the line breaks are.</p>
</div></div>
<h3>About</h3>
<p>
I'm Nick. A Chemist by training, I am embarking on my journey to become a professional software developer.
I have taught myself a lot through projects and am now very confortable working in python and
a few other languages. But I still have much to learn. In particular I want to expand my understanding
of algorithms and their efficiencies. I also want to get a better understanding of how the
internet works beneath the hood. I have kept a notebook of what I've learned and things that
at the time were cool new insights, a publicly readable blog just seems like the natural progression.
</p>
{% if posts %}
{% for post in posts %}
<div class = 'post_snipit'>
  <h3><a href = '{% url  'view_post' post.title_slug %}'>{{ post.title }}</a></h3>
  <p>{{ post.post_summary | safe }}</p>
</div>
{% endfor %}
{% endif %}
<p><a href = '{% url 'archive' %}'>Read Older Posts</a></p>
{% endblock %}
